.kp {
    background-image: url(./background\ image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.kk {
   background-image: url();
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
}